.root {

}

.collection {
    background-image: url("../images/folder.png") !important;
}

.collection-item {
    background-image: url("../images/item.png") !important;
}

.field {
    background-image: url("../images/ui-text-field.png") !important;
}

.constant {
    background-image: url("../images/lock.png") !important;
}

.add-icon {
    background-image: url("../images/plus-blue.png");
}

.remove-icon {
    background-image: url("../images/minus-red.png");
}

.no-action {
    cursor: default !important;
}

.delete {
    background-image: url("../images/delete.png");
}